# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# External Configuration Files
.ycm_extra_conf.py
.ycm_extra_conf.pyc
compile_commands.json
tools
*.plist
oclint_out.html

#Folders
bin/
